# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

# Windows OS Files
Thumbs.db
Desktop.ini

# Synology
*conflict*
**/*conflict*

# Mac OS Files
.DS_store
.AppleDouble
.LSOverride
